.gallery {
	position: absolute;
	top: 100vh;

	margin-top: 10vh;
	padding: 15px;

	@include media($on-laptop) {
		padding: 0 15%;
	}

	.gallery-item {

		@include span-columns(12);

		margin-bottom: 5rem;

		h2 {
			font-size: 1.2rem;
		}

		h3 {
			font-size: 1rem;
		}

		img {
			width: 100%;
		}

		@include media($on-laptop) {
			img {
				max-width: 400px;
			}
			.text-wrapper {
				@include span-columns(6);
			}

			.image-wrapper {
				@include shift(1);
				@include span-columns(5);
			}
		}

		
	}
}