.background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.credit {
	position: absolute;
	top: 95%;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: right;

	font-family: sans-serif;
	font-size: 0.8rem;
	padding-right: 10px;

	visibility: hidden;

	@include media($on-laptop) {
		visibility: visible;
	}
}

.top {
	.top-content {
		padding: 10px;
		background: rgba(255,255,255,0.9);
		max-width: 97%;

		@include media($on-laptop) {
			padding: 20px;
			margin: 20vh 0 0 15%;
			max-width: 600px;
		}
	}

	h1 {
		font-size: 1.5em;
		@include media($on-laptop) {
			font-size: 2em;
		}
	}

	p {
		font-size: 0.9em;
		@include media($on-laptop) {
			font-size: 1.1em;
		}
	}



	.social {
		padding: 10px 0;
		
		@include media($on-laptop) {
			padding: 20px 0;
		}

		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		}

		li {
			display: inline;
		}

		a {
			float: left;
			display: block;
			width: 40px;
			text-align: center;
			padding-bottom: 3px;
			color: $base-font-color;

			&:hover {
				color: $indigo;
			}
		}
	}
}